#crear_producto,
#crear_detalle,
#modificar_c,
#modificar_p,
.alert{
    display: none;
}

/* TABLA */
table {
    background: rgba(255, 255, 255, .5);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-color: black;
    width: 100%;
}

table th {
    background: #2a5886;
    border: 1px #dddddd;
    text-align: center;
    padding: 10px 15px;
}

table td {
    color: black;
    text-align: center;
    padding: 5px 10px;
}

table tr:hover td {
    background: rgba(128, 128, 128, 0.5);
    color: white;
}